*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{background-color: rgb(255,187,0);}

.bodyrange{
    display: flex;
    height: 700px;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgb(255, 134,0), rgb(255,187,0));
    justify-content: center;
}

.container{
    max-width: 480px;
    height: 300px;
    padding: 50px 0 50px 0;
    text-align: center;
}
#title{
    margin-bottom: 40px;
}
#title h1{
    font-size: 49px;
    color: white;
}

.mainResult{
    width: 480px;
    padding: 0 40px 0 40px;
}

.searchResult{
    display: none;
    background-color: white;
    margin-bottom: 10px;
    padding: 20px;
}

.firstResult{
    display: flex;
    justify-content: space-between; 
    font-size: 10px; 
    padding-left: 20px; 
}

.firstResult i{
    font-size: 20px; 
    color:rgb(255, 134,0);
}
.firstResult button{
    background-color: white;
    border: none;
}
.firstResult button:hover{
    opacity: 0.7; 
    cursor: pointer;
}

.secondResult{
    display: flex;
    margin: 25px 0 25px 0; 
    font-size: 30px;
    padding-left: 20px ;
}
.thirdResult{
    display: flex; 
    max-width: 200px;
    font-size: 10px;
    margin-bottom: 10px;
}
.thirdResult-p i{
    font-size: 10px; 
    color: rgb(255, 134,0)
}
.thirdResult-p .i1{padding-left: 20px;}
.thirdResult-p .i2{margin-left: 5px;}
.thirdResult-p {
    display: flex;
}
.thirdResult-extra{margin-left:57px;}

.fourthResult{
    display: flex;
    justify-content: space-between; 
    font-size: 10px;  width: 200px; 
    padding-left: 20px;
    margin-bottom: 10px;
}

.border{border:0.5px solid rgb(255, 134,0)}

.fifthResult{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;; 
    font-size: 10px;
}

.sixthResult{
    display: flex; 
    justify-content: space-between; 
    padding: 5px 20px 5px 20px; 
    font-size: 10px; color: rgb(255, 134,0);
}

.mainResult form{
    display: flex;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    margin-bottom: 20px;
    justify-content: space-between;
}

form input{
    font-size: 16px;
    padding: 10px;
    width: 350px;
    height: 42px;
    border: none;
    outline: none;
}

form button {
    color:dimgray;
    background-color: white;
    border: none;
}

form button i{padding: 10px;}

form button i:hover{
    opacity: 0.7; 
    cursor: pointer;
}

.bottom-end{
    margin-top: 40px;
    width: 300px;
    height: 100%;
    margin-left: 80px;
}

.bottom-end h2{
    text-align: start;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}

.end{
    width: 100%;
    height: 100%;
    display: flex;
}

.end_1{
    flex: 1; 
    display: flex;
    flex-direction: column;
    text-align: start;
}

.end_2{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: start;
    margin-left: 30px;
}

.end div{margin-bottom: 10px;}

.divend{margin-bottom: 0;}

.maxmin{
    color:dimgray;
    font-size: 10px;
}
.end_1 strong, .end_2 strong{font-size: 10px;}


@media (max-width: 480px){
   
    .bodyrange{
        width: 480px;
        height: 800px;
    }

    .mainResult{padding: 0;}
    #title{
        width: 300px;
        padding-left: 25px;
    }
    .controlfrm{padding: 0 20px 0 20px;}
    .end{flex-direction: column;}
    .end_2{
        margin-top: -10px;
        margin-left: 0;
    }
    .end_2 .maxmin{display: none;}
}
